.navbar2 {
	height: 120px;
	ul {
		height: 100%;
		li,
		a,
		select {
			color: var(--white);
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0em;
			background-color: transparent;
			option {
				background-color: var(--primary);
			}
		}
		li.profile {
			img {
				width: 40px;
				height: 40px;
				object-fit: cover;
				border-radius: 50%;
			}
		}
		.bell {
			position: relative;
			span {
				position: absolute;
				top: -5px;
				right: -1rem;
				font-size: 10px;
				font-weight: 500;
				line-height: 15px;
				letter-spacing: 0em;
				background-image: var(--gradient1);
				height: 15px;
				padding: 0 5px;
				border-radius: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		li.links {
			ul {
				a {
					display: flex;
					align-items: center;
					position: relative;
					height: 100%;
					&:hover {
						color: #fe6703;
						&::before {
							content: "";
							position: absolute;
							background-image: var(--gradient1);
							width: 100%;
							bottom: 0;
							left: 0;
							height: 4px;
						}
					}
				}
			}
		}

		li.logo {
			span {
				font-size: 22px;
				font-weight: 500;
				line-height: 33px;
				letter-spacing: 0em;
			}
		}
	}
}

#menu-btn {
	display: none;
}

nav#mobile-nav {
	position: fixed;
	z-index: 20;
	opacity: 0;
	width: 100%;
	top: calc(-100% - 70px);
	left: 0;
	height: calc(100vh - 70px);
	border-top: 1px solid rgba(128, 128, 128, 0.311);
	background-color: var(--secondary);
	transition: all .3s;
	&.active{
		top: 70px!important;
		opacity: 1;
	}
	ul {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
		height: 100%;
		li {
			width: 50%;
		}
		li,
		a,
		select {
			color: var(--white);
			background-color: transparent;
			option {
				background-color: var(--primary);
			}
		}
		a,
		select {
			display: block;
			width: 100%;
			border: 1px solid rgba(255, 255, 255, 0.485);
			padding: 1rem 2rem;
			border-radius: 20px;
			&:hover {
				background-image: var(--gradient4);
			}
		}
	}
}

@media screen and (width <= 1000px) {
	.navbar2 {
		li.logo {
			a span {
				display: none;
			}
		}
	}
}

@media screen and (width <= 768px) {
	#menu-btn {
		display: block;
	}
	.home-main{
		margin-top: 80px;
	}
	.navbar2 {
		position: fixed;
		z-index: 30;
		top: 0;
		left: 0;
		height: 70px;
		li.logo img {
			width: 40px;
		}
		li.links,
		.state,
		li.profile a span {
			display: none;
		}
	}
}
